main {
    font-weight: bold;
    font-size: 2rem;
    color: white
}


main nav {
    width: 20%;
    height: 90vh;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


main .lesson-container-details-block {
    margin-left: 25%;
    width: 70%;
    filter: hue-rotate(-0.25turn);
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 2rem;
    opacity: 0.8;
    font-size: 2rem;
    font-weight: bold;
    font-family: cursive;
}

.lesson-container-details-block  div, .lesson-container-details-block ol  {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}


.lesson-container-details-block ol  li {
    padding: 6px
}

.lesson-container-details-block summary {
    text-align: center;
}

.main-navigation-list-items{
    margin-top: 15%;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 16px;
    filter: hue-rotate(-0.25turn);
    background-color: black;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main nav {
        position: static;
        width: 4%;
    }

    main .lesson-container-details-block {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        font-size: 1.5rem;
        margin: 2rem 0;
    }

    .lesson-container-details-block ol  {
        display: flex;
        flex-wrap: wrap;
    }
}